body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #49544D;
  color: #F7F7F7
;
  line-height: 1.6;
}

header {
  background: #49544D;
  color: #F7F7F7
;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

section img {
  max-width: 300px;
  height: auto;
  display: block;
  margin-bottom: 1em;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.Gallery img {
  width: 425px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

/* for tablets: */

@media (max-width: 768px) {
  .Gallery {
    flex-direction: row;
    gap: 0.5em;
  }

  .Gallery img {
    max-width: 150px;
  }

  header h1 {
    font-size: 2em;
  }

  section p, ul {
    font-size: 1em;
  }
}

/* for phones */

@media (max-width: 480px) {
  .Gallery {
    flex-direction: column;
    gap: 0.5em;
  }

  .Gallery img {
    max-width: 100%
  }

  header h1 {
    font-size: 1.6em;
  }

  section p, ul {
    font-size: 0.9 em;
  }

}
